In [1]:
import os
import sqlite3

In [2]:
if not os.path.exists("../query_results"):
    os.mkdir("../query_results")

In [3]:
conn = sqlite3.connect("../database/book_info.db")
cursor = conn.cursor()

1. `name` and `age` of all the `Authors` who authored a book

In [102]:
with open("../sql_files/1. all_authors.sql") as f:
    rows = cursor.execute(f.read())
with open("../query_results/1. all_authors.txt", "w") as f:
    f.write("")
with open("../query_results/1. all_authors.txt", "a") as f:
    for row in rows:
        f.write(f"{row}\n")

2. `revenue` of each `Author` for every book they've authored

In [103]:
with open("../sql_files/2. revenue_per_book.sql") as f:
    rows = cursor.execute(f.read())
with open("../query_results/2. revenue_per_book.txt", "w") as f:
    f.write("")
with open("../query_results/2. revenue_per_book.txt", "a") as f:
    for row in rows:
        f.write(f"{row}\n")

3. Top 5 `Books` with most number of `pages` for each `Publisher`

In [ ]:
with open("../sql_files/3. top_five_most_pages.sql") as f:
    rows = cursor.execute(f.read())
with open("../query_results/3. top_five_most_pages.txt", "w") as f:
    f.write("")
with open("../query_results/3. top_five_most_pages.txt", "w") as f:
    for row in rows:
        f.write(f"{row}\n")

4. Average `revenue` for each `Publisher` in a specific month

In [107]:
with open("../sql_files/4. average_monthly_revenue.sql") as f:
    rows = cursor.execute(f.read())
with open("../query_results/4. average_monthly_revenue.txt", "w") as f:
    f.write("")
with open("../query_results/4. average_monthly_revenue.txt", "w") as f:
    for row in rows:
        f.write(f"{row}\n")

5. Number of books published in a specific period for each `Publisher`

In [11]:
with open("../sql_files/5. books_published_between_dates.sql") as f:
    rows = cursor.execute(f.read())
with open("../query_results/5. books_published_between_dates.txt", "w") as f:
    f.write("")
with open("../query_results/5. books_published_between_dates.txt", "w") as f:
    for row in rows:
        f.write(f"{row}\n")

6. Average time period of publishing a book for each `Publisher`

In [14]:
with open("../sql_files/6. avg_publish_period.sql") as f:
    rows = cursor.execute(f.read())
with open("../query_results/6. avg_publish_period.txt", "w") as f:
    f.write("")
with open("../query_results/6. avg_publish_period.txt", "w") as f:
    for row in rows:
        f.write(f"{row}\n")

In [ ]:
cursor.close()
conn.close()