In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("temp_database/temp_book_info.db")
cursor = conn.cursor()

In [3]:
cursor.execute('''
INSERT INTO Books VALUES
(2492291976, 'book_title00001', 152, 141.2, 7, 4, 2);
''')

In [4]:
# cursor.execute('''
# INSERT INTO Books VALUES
# (2492291974, 'book_title00003', 'a2', 141.2, 7, 4, 2);
# ''')

In [5]:
cursor.execute('''
INSERT INTO Books VALUES
(2492291975, 'book_title00002', 22, 141.2, 7, 4, 2);
''')

In [6]:
cursor.execute('''
INSERT INTO Books VALUES
(2492291974, 'book_title00003', 22, 0, 7, 4, 2);
''')

In [7]:
conn.commit()

In [8]:
for row in cursor.execute("SELECT * FROM Books"):
    print(row)

(2492291974, 'book_title00003', 22, 0.0, 7, 4, 2)
(2492291975, 'book_title00002', 22, 141.2, 7, 4, 2)
(2492291976, 'book_title00001', 152, 141.2, 7, 4, 2)

In [9]:
cursor.execute('''
UPDATE Books
SET price = 120
WHERE ISBN = 2492291974;               
''')
conn.commit()

In [10]:
for row in cursor.execute("SELECT * FROM Books"):
    print(row)

(2492291974, 'book_title00003', 22, 120.0, 7, 4, 2)
(2492291975, 'book_title00002', 22, 141.2, 7, 4, 2)
(2492291976, 'book_title00001', 152, 141.2, 7, 4, 2)

In [11]:
cursor.execute('''
DELETE FROM Books
WHERE ISBN = 2492291974;          
''')
conn.commit()

In [12]:
for row in cursor.execute("SELECT * FROM Books"):
    print(row)

(2492291975, 'book_title00002', 22, 141.2, 7, 4, 2)
(2492291976, 'book_title00001', 152, 141.2, 7, 4, 2)

In [13]:
conn.commit()

In [14]:
cursor.close()
conn.close()